.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button {
  width: 100%;
}

.vertical-flexbox {
  display: flex;
  flex-direction: column;
}
.project-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-1 {
  flex-grow: 1
}
.flex-3 {
  flex-grow: 3
}

