<mat-card *ngIf="projectData !== null">
  <div class="project-flexbox">
    <form class="form" [formGroup]="projectGroup" (submit)="update()">
      <div class="flex-1">

        <div class="vertical-flexbox form-group">
          <mat-form-field class="example-full-width" [floatLabel]="projectGroup.value.floatLabel">
            <input matInput placeholder="Name" value="{{projectData.name}}" [formControl]="nameForm" type="text">
          </mat-form-field>
          <mat-form-field class="example-full-width" [floatLabel]="projectGroup.value.floatLabel">
            <input matInput placeholder="Manager" value="{{projectData.manager}}" [formControl]="managerForm" type="text">
          </mat-form-field>
          <mat-form-field class="example-full-width" [floatLabel]="projectGroup.value.floatLabel">
            <input matInput placeholder="Status" value="{{projectData.status}}" [formControl]="statusForm" type="text">
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="isManager()">
        <button mat-raised-button color="accent" [disabled]="isValid()" type="submit">Update</button>
        <button mat-raised-button color="accent" [disabled]="isValid()" (click)="addProject()" type="button">Add as new Project</button>
        <button mat-raised-button color="accent" [disabled]="isValid()" (click)="deleteProject()" type="button">Delete</button>
      </div>
    </form>
    <div class="flex-2">
      <div class="overflow-threshhold">
        <mat-card *ngFor="let dev of projectData.developers" class="dev-list">
          <mat-card-content>
            <dir style="width:100%">
              <span style="float:left; width:30%">{{dev.name}}</span>
              <span style="float:right; width:70%">{{dev.email}}</span>
            </dir>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="isManager()">
        <button mat-raised-button color="primary" (click)="requestDevs()">Add Selected Developers</button>
        <button mat-raised-button color="primary">Email Assigned</button>
        <button mat-raised-button color="primary" (click)="clearDevs()">Clear All Assigned</button>
      </div>
    </div>
  </div>
</mat-card>
