example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-div {
  margin: 10px;
}

.table-flexbox{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.left-flexbox{
  max-width: 60%;
  margin-right: 10px;
  flex-grow: 2;
}

.right-flexbox{
  flex-grow: 0.7;
}

