<div class="container" *ngIf="isSignedIn()">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon style="margin-right:20px;">favorite</mat-icon>
      <a routerLink="/dashboard-page"><button mat-flat-button class="btn btn-success pull-right">Dashboard</button></a>
      <a routerLink="/user-page"><button mat-flat-button class="btn btn-success pull-right">User Info</button></a>
      <span class="toolbar-space"></span>
      <button mat-flat-button class="btn btn-success pull-right" (click)="wut()" >wut</button>
      <button mat-flat-button class="btn btn-success pull-right" (click)="signOut()">Sign out</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
