<div class="container">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="example-icon">favorite</mat-icon>
      <a routerLink="/profile-page"><button mat-flat-button class="btn btn-success pull-right" color="primary">Dashboard</button></a>
      <a routerLink="/user-page"><button mat-flat-button class="btn btn-success pull-right">Edit Users</button></a>
      <span class="toolbar-space"></span>
      <a routerLink="/"><button mat-flat-button class="btn btn-success pull-right">Logout</button></a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
