<mat-card>
  <mat-card-title>
    User Details
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="userGroup" (submit)="updateUser()">
      <table>
        <tr>
          <td>
            <mat-form-field class="demo-full-width" >
              <input matInput type="text" placeholder="Name" formControlName="name" value="{{userGroup.value.name}}" >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput type="email" placeholder="Email" formControlName="email" value="{{userGroup.value.email}}">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-radio-group class="vertical-flexbox" formControlName="position" value="{{userGroup.value.position}}">
              <mat-radio-button value="Admin">Admin</mat-radio-button>
              <mat-radio-button value="Project Manager" style="margin-top: 5px; margin-bottom: 5px;">Project Manager</mat-radio-button>
              <mat-radio-button value="Developer" style="margin-bottom:10px;">Developer</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput type="text" placeholder="Current Task" formControlName="assignment" maxlength="50"
                #assignment value="{{userGroup.value.assignment}}">
              <mat-hint align="end">{{assignment.value?.length || 0}}/50</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="content-center">
            <button mat-raised-button color="accent" [disabled]="!isFormValid()" type="submit">Update</button>
            <button mat-raised-button color="accent" *ngIf="isManager()" [disabled]="!isFormValid()" (click)="newUser()" type="button">New User</button>
            <button mat-raised-button color="accent" *ngIf="isAdmin" [disabled]="!isFormValid()" (click)="deleteUser()" type="button">Delete</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="associatedProjects && (associatedProjects.length > 0)">
  <mat-card-title>
    User's Projects
  </mat-card-title>
  <table class="full-width">
    <tr align="left">
      <th>
        <span>Name</span>
      </th>
      <th>
        <span>Manager</span>
      </th>
      <th>
        <span>Status</span>
      </th>
      <mat-divider></mat-divider>
    </tr>
    <tr *ngFor="let project of associatedProjects">
      <td>
        <mat-icon mat-list-icon style="margin-right: 7px; padding-top: 5px;">label_important</mat-icon>
        <span>{{project.name}}</span>
      </td>
      <td>
        <span> {{project.manager}} </span>
      </td>
      <td>
        <span> {{project.status}} </span>
      </td>
      <mat-divider></mat-divider>
    </tr>
  </table>
</mat-card>
